h1 {
	margin-left: 120px;
}

.header {
    background-color: #f1f1f1;
    padding: 50px;
    text-align: center;
}

.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}